In [ ]:
# https://www.tutorialspoint.com/cassandra

In [2]:
import sys
!{sys.executable} -m pip install cassandra-driver --user

Collecting cassandra-driver
  Downloading https://files.pythonhosted.org/packages/28/1b/9edce1aaac85e7955e5a4eef2674294107640cc6cd5b7831926fc43a41b8/cassandra-driver-3.17.0.tar.gz (230kB)
    100% |████████████████████████████████| 235kB 34.0MB/s
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.6/site-packages (from cassandra-driver) (1.11.0)
Building wheels for collected packages: cassandra-driver
  Running setup.py bdist_wheel for cassandra-driver ... done
  Stored in directory: /mnt/mesos/sandbox/.cache/pip/wheels/d2/cc/9f/85471ac42cabb3049677d08cc39aa79d36eaf4352472acc7da
Successfully built cassandra-driver
Installing collected packages: cassandra-driver
Successfully installed cassandra-driver-3.17.0

In [4]:
from cassandra.cluster import Cluster

cluster = Cluster(['node-0-server.bigdataparisproddataservicescassandra.autoip.dcos.thisdcos.directory', 'node-1-server.bigdataparisproddataservicescassandra.autoip.dcos.thisdcos.directory', 'node-2-server.bigdataparisproddataservicescassandra.autoip.dcos.thisdcos.directory'])

In [5]:
session = cluster.connect()

In [9]:
session.execute("CREATE KEYSPACE tutorialspoint WITH replication = {'class':'SimpleStrategy', 'replication_factor' : 3};")

In [10]:
session.execute('USE tutorialspoint;')

In [11]:
session.execute('CREATE TABLE emp(emp_id int PRIMARY KEY, emp_name text, emp_city text, emp_sal varint, emp_phone varint);')

In [12]:
session.execute("INSERT INTO emp (emp_id, emp_name, emp_city,emp_phone, emp_sal) VALUES(1,'ram', 'Hyderabad', 9848022338, 50000);")

In [13]:
session.execute("INSERT INTO emp (emp_id, emp_name, emp_city,emp_phone, emp_sal) VALUES(2,'robin', 'Hyderabad', 9848022339, 40000);")

In [15]:
rows = session.execute("select * from emp;")

In [20]:
for emp_row in rows:
    print(emp_row.emp_name)

ram
robin

In [21]:
import pandas as pd
rows = session.execute('select * from emp;')
df = pd.DataFrame(list(rows))

In [22]:
print(df)

   emp_id   emp_city emp_name   emp_phone  emp_sal
0       1  Hyderabad      ram  9848022338    50000
1       2  Hyderabad    robin  9848022339    40000

In [23]:
from IPython.display import display, HTML
display(HTML(df.to_html()))